html
  head
    block styles
      link(rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
  body
    h1 Ajouter un flux
    form(action="/rss/add", method="post")
      label(for="url") Url
      input(type="text", name="url")
      button(type="submit") Ajouter