include ../mixins.pug

html
  head
    style
      include ../style.css
    block styles
      link(rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
  body
    h1 Digest #{digest.date}
    each item in digest.items
      +#{item.type}(item)
    script
      include ../tweet-parse.js
    script.
      Array.from(document.getElementsByClassName('tweet--body')).map(tweet => tweet.innerHTML = tweet.innerHTML.parseURL().parseHashtag().parseUsername());